<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>소프트웨어 공학 텀 프로젝트</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <header>
            <div class=""container>
                <a href="main.html" class="hedaA">인터뷰이</a>
            </div>
            <div class="wrapper">
                <nav class="headB">
                    <ul class="menu">
                        <li><a href="">직종별 질문</a></li>
                        <li><a href="">매칭 시스템</a></li>
                        <li><a href="">스터디룸 예약</a></li>
                        <li><a href="">커뮤니티</a></li>
                    </ul>
                </nav>
            </div>
        </header>
    </body>
</html>