<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Contact - Business Casual - Start Bootstrap Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename = 'css/business-casual.css') }}" rel="stylesheet">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
  <a div class="brand" href="{{ url_for("index") }}">InterviewNet</a>
  <div class="address-bar">소프트웨어 팀프로젝트 1팀</div>

    <!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                <a class="navbar-brand" href="{{ url_for('index') }}">Business Casual</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{{ url_for("main") }}"> Main</a>
                    </li>
                    <li>
                        <a href="{{ url_for("question") }}">직종별 질문</a>
                    </li>
                    <li>
                        <a href="{{ url_for("matching") }}">매칭 시스템</a>
                    </li>
                    <li>
                        <a href="{{ url_for("studyroom") }}">스터디룸 예약</a>
                    </li>
                    <li>
                        <a href="{{ url_for("community") }}">Community</a>
                    </li>
                    <li>
                        <input type="button" class="btn btn-info btn-sm" value="Sign-in" onClick="location.href ='{{ url_for("signIn") }}'">
                        <input type="button" class="btn btn-info btn-sm" value="Sign-up" onClick="location.href ='{{ url_for("sign_up") }}'">
                        <input type="button" class="btn btn-info btn-sm" value="MyPage" onClick="location.href ='{{ url_for("mypage") }}'">
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="container">


        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        <strong>직종 별 질문</strong>
                    </h2>
                    <hr>
                    <form role="form">
                        <div id="content" class="row">
                        	<div class="form-group col-lg-4">
                        	</div>
                        	<div id="content_body" class="form-group col-lg-4">
                                <label>직종을 선택해주세요.</label>
                                <select id="occupation" class="form-control" onchange="setOption()">
                                    <option>직종 선택</option>
                                    <option value="통신">통신</option>
                                    <option value="에너지/화학">에너지·화학</option>
                                    <option value="생산/제조">생산·제조</option>
                                    <option value="IT/인터넷">IT·인터넷</option>
                                    <option value="전문직">전문직</option>
                                    <option value="교육">교육</option>
                                    <option value="미디어">미디어</option>
                                    <option value="특수계층/공공">특수계층·공공</option>
                                    <option value="건설">건설</option>
                                    <option value="유통/무역">유통·무역</option>
                                    <option value="서비스">서비스</option>
                                    <option value="디자인">디자인</option>
                                    <option value="의료">의료</option>
                                </select>
                                <br>
                                <label>기업을 선택해주세요.</label>
                                <select id="company" class="form-control">
                                    <option>기업 선택</option>
                                    <script>
                                    function setOption() {
                                        var oc = document.getElementById("occupation").value;
                                        var compItem;
                                        var companyArray_1 = ["SK텔레콤", "KT", "LG유플러스"];
                                        var companyArray_2 = ["LG화학", "SK이노베이션", "SK에너지", "삼성SDI"];
                                        var companyArray_3 = ["삼성전자", "현대자동차", "LG전자", "SK하이닉스", "SK에너"];
                                        var companyArray_4 = ["라인", "네이버", "카카오", "삼성SDS", "LGCNS", "SKC&C"];
                                        var companyArray_5 = ["한영회계법인", "KB증권", "DB금융투자", "한국환경공단"];
                                        var companyArray_6 = ["비상교육", "메가스터디", "이투스", "해커스어학원"];
                                        var companyArray_7 = ["KBS", "SBS", "MBC", "JTBC", "tvN", "NS홈쇼핑"];
                                        var companyArray_8 = ["한국전력공사"];
                                        var companyArray_9 = ["대우건설", "현대건설", "SK건설", "대림건"];
                                        var companyArray_10 = ["쿠팡", "티몬", "위메프", "STX", "태평양물산"];
                                        var companyArray_11 = ["카라쉬관광호텔", "SR호텔", "KFC코리아", "다이닝코리아"];
                                        var companyArray_12 = ["네오아트비젼", "CTTD", "프라임인쇄"];
                                        var companyArray_13 = ["세브란스병원", "가톨릭병원", "성모병원", "길병원"];
                                        switch(oc) {
                                            case "통신":
                                                compItem = companyArray_1;
                                                break;
                                            case "에너지/화학":
                                                compItem = companyArray_2;
                                                break;
                                            case "생산/제조":
                                                compItem = companyArray_3;
                                                break;
                                            case "IT/인터넷":
                                                compItem = companyArray_4;
                                                break;
                                            case "전문직":
                                                compItem = companyArray_5;
                                                break;
                                            case "교육":
                                                compItem = companyArray_6;
                                                break;
                                            case "미디어":
                                                compItem = companyArray_7;
                                                break;
                                            case "특수계층/공공":
                                                compItem = companyArray_8;
                                                break;
                                            case "건설":
                                                compItem = companyArray_9;
                                                break;
                                            case "유통/무역":
                                                compItem = companyArray_10;
                                                break;
                                            case "서비스":
                                                compItem = companyArray_11;
                                                break;
                                            case "디자인":
                                                compItem = companyArray_12;
                                                break;
                                            case "의료":
                                                compItem = companyArray_13;
                                                break;
                                            default:
                                                compItem = ["기업 선택"];
                                                break;
                                        }
                                        document.getElementById("company").innerHTML = "<select id=\"company\" class=\"form-control\">"
                                        for (var i = 0; i < compItem.length; i++) {
                                            var option = document.createElement("option");
                                            option.innerHTML = "<option value=\"" + compItem[i] + "\"> " + compItem[i] + "</option>";
                                            document.getElementById("company").appendChild(option);
                                        }
                                    }
                                    </script>
                                </select>

                                <br><br><center>
                                <input type="hidden" name="save" value="contact">
                                <button id="submit_btn" type="button" onclick="sendSelectValue()" class="btn btn-default">질문 보기</button></center>
                                <br><br>

                              </div>
                            </div>
                            <div id="content" class="row">
                            	<div class="form-group col-lg-12">
                                <table id="question_table" class="table table-striped">

                                </table>
                              </div>
                            </div>
                                <script type="text/javascript">
                                /*
                                function sendInfo() {
                                    var xhttp = new XMLHttpRequest();
                                    var occupation = document.getElementById("occupation").value;
                                    var company = document.getElementById("company").value;
                                    var occu_value = $("#occupation").val();
                                  	var comp_value = $("#company").val();
                                  	json_data = JSON.stringify({
                                  		occupation : occu_value,
                                  		company : comp_value,
                                  	});
                                    console.log(json_data);
                                    var url = "http://ec2-54-244-72-128.us-west-2.compute.amazonaws.com:5000/sendQuestionOption";
                                    xhttp.open("POST", url, true);
                                    xhttp.setRequestHeader('Content-Type', 'application/json');
                                    xhttp.send(json_data);
                                    xhttp.onreadystatechange = function() {
                                        if (this.readyState == 4 && this.status == 200) {
                                          console.log(this.responseText);
                                          //document.getElementById("content_body").innerHTML = this.responseText;
                                        }
                                    };
                                }*/
                                function sendSelectValue() {
                                  	var occu_value = $("#occupation").val();
                                  	var comp_value = $("#company").val();
                                    var data;
                                    var jsonArray;
                                    if (occu_value == "직종 선택" || comp_value == "기업 선택") {
                                      document.getElementById("question_table").innerHTML = "<p><center>직종 및 기업을 선택하세요.</center></p>";
                                      return ;
                                    }
                                  	var json_data = JSON.stringify({
                                  		occupation : occu_value,
                                  		company : comp_value,
                                  	});
                                    console.log(json_data);
                                  	$.ajax({
                                  		type: 'PUT',
                                  		url: "http://ec2-54-244-72-128.us-west-2.compute.amazonaws.com:5000/sendQuestionOption",
                                  		contentType: 'application/json; charset=utf-8',
                                  		traditional: true,
                                  		async: false,
                                  		data: json_data,
                                  		success: function(data) {
                                        var results = JSON.parse(data);
                                        jsonArray = results;
                                  			//console.log("sendsucc data : " + data);
                                        },
                                  		error: function(xhr) {
                                  			console.log("Fail to send.");
                                  		}
                                  	});
                                    var inner = "<thead><th>번호</th><th>직군</th><th>기업</th><th>질문내용</th></thead><tbody>"
                                    for (var i = 0; i < jsonArray.length; i++) {
                                      inner = inner + "<tr><td>" + (i+1) + "</td><td>" + jsonArray[i].major + "</td><td>"
                                                    + jsonArray[i].company + "</td><td>" + jsonArray[i].question + "</td></tr>";
                                      inner = inner + "<tr><td></td><td></td>"
                                          + "<td align=\"right\">" + "<button id=\"saveBtn_\"" + (i+1) + "type=\"button\" class=\"btn btn-info btn-sm\">저장</button>"
                                          + "</td><td><textarea rows=\"3\" cols=\"60\" placeholder=\"답변 작성.\" class=\"form-control\" id=\"answer_"+ (i+1) +"\"></textarea></td></tr>";
                                    }
                                    inner = inner + "</tbody>";
                                    document.getElementById("question_table").innerHTML = inner;
                                }
                                </script>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; 소프트웨어 공학 1조</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{{ url_for('static', filename = 'js/jquery.js') }}"></script>


    <!-- Bootstrap Core JavaScript -->
    <link href="{{ url_for('static', filename = 'js/bootstrap.js') }}" rel="stylesheet">

</body>

</html>
